<form action="#">
    
      <div class="form-group">
        <label for="bookname">书名</label>
        <input type="text" class="form-control input-sm" id="bookname" placeholder="书名">
      </div>
      <div class="form-group">
        <label for="price">价格</label>
        <input type="text" class="form-control input-sm" id="price" placeholder="价格">
      </div>
      <div class="form-group">
        <label for="type">类别</label>
        <select name="" class="form-control input-sm" id="type">
          <option value="1">文学类</option>
          <option value="2">小说类</option>
          <option value="3">娱乐类</option>
          <option value="4">悬疑类</option>
          <option value="5">科幻类</option>
        </select>
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block">
          <i class="glyphicon glyphicon-search"></i>
          查询
        </button>
      </div>
    </form>

   
